html {

  font-size: 1vw;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: rgb(180, 240, 180);
}

header{
  font-size: 1.5vw;
}


footer {
  position: fixed;
  bottom: 0;
  margin: 10px 0px 20px 0px;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

#boton {
  position: absolute;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton button {
  width: 100%;
}

#botonesabajo{
  gap: 4vw;
}

.configuracion {

  height: fit-content;
  width: 14%;
}
select{
  scrollbar-width: thin;
}
.form-select{
  border-radius: 0px;
}
option{
  font-size: 1vw;
}
input[type=text]{
  font-size: 1vw;
}
#titulopag{
  font-size: 2.4vw;
}
form {
  width: 100%;
}
#configform {
  height: 100%;
  gap: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#formconfig {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10vw;
  height: 50%;
}
.formconfig {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#infoypregunta{

}
.btnw {
  width: 20vw;
  height: 6vh;
}
.rta .btn{
  background-color: rgba(37, 231, 124, 0.199);
  border-color: rgba(14, 209, 102, 0.308);
}
.btn{
  font-size: 1vw;
  background-color: rgba(17, 163, 37, 0.308);
  border-color: rgba(17, 163, 37, 0.308);
  color: black;
}


.card-header{
  background-color: white;
  border-bottom: 1px solid black;
}

.nomargin{
  margin: 0%;
}
#infoybarra{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7vh;
}

.aligncenter {
  align-self: center;
}

#contenido{

  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 7vh;
  width: fit-content;
}
#contenedorcontenido{
  margin-top:1vw
}
#formrtas{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:6vh;
  justify-content: space-between;
}

#preguntaycategoria{
  font-size: 1vw;
}
#contenedorpreguntaycategoria{
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  gap: 4vh;
}

#preguntaycategoria h3,
h2 {
  align-self: center;
}
#timer {
  align-self: flex-end;
}

#preguntayrtas {
  text-align: center;
  width: fit-content;
}

#preguntayrtas form {
  height: 40%;
}

#rtas {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
}

.mitadrtas {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-bottom: 20;
}

#pregunta{
  font-size: 2.2vw;
}

.rta label{
  width: 100%;
  font-size: 1.3vw;
}
.rta{
  width: 100%;
}
.btn-check:hover{
  color: black;
}

.btnrta:hover{
  background-color: rgb(0, 0, 0);
}

.contenedorrtas{
  width: 100%;
}

#inforta h1 {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#inforta p {
  font-size: 30px;
}

a {
  height: fit-content;
  text-decoration: none;
}

#correcto h1 {
  color: rgb(6, 78, 6);
}
#incorrecto h1 {
  color: rgb(117, 34, 24);
}



@keyframes breathe {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
.navexterno ul {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
}
